.App {
    text-align: center;
}

.header-content {
    width: 20rem;
    display: grid;
    Grid-template-columns: auto auto auto;
    margin: auto;
}

.grid-container {
  margin: auto;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
}

.cell-block {
    background-color: rgba(213, 213, 213, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
}

.bomb {
    width: 0.7rem;
    height: 0.7rem;
}

.thumbsup {
    text-align: center;
    width: 1.7rem;
    height: 1.7rem;
}